.serif-style {
    font-family: 'PT Serif', serif;
}

.body-text {
    color: #8F8D8D
}

a:link, a:visited { 
    color: black;
    text-decoration: underline;
    cursor: auto;
}

a:link:active, a:visited:active { 
    color: black;
}